<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xiaofangwei.onlinesurvey.mapper.AnswerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.xiaofangwei.onlinesurvey.entity.Answer">
        <id column="answerId" property="answerId" />
        <result column="questionnaireId" property="questionnaireId" />
        <result column="questionId" property="questionId" />
        <result column="submitId" property="submitId" />
        <result column="questionType" property="questionType" />
        <result column="answer" property="answer" />
        <result column="answerText" property="answerText" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        answerId, questionnaireId, questionId, submitId, questionType, answer, answerText
    </sql>
    <!--<select id="selectOptionAnalysis" resultType="cn.xiaofangwei.onlinesurvey.entity.vo.AnalysisSelectView" parameterType="Integer">
        select A.optionId,count(B.submitId) as submitCount,A.content
        from (select * from `Option` where questionId = #{questionId}) A
         left join Answer B on A.optionId=B.answer
        group by A.optionId
    </select>-->

</mapper>
